body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
  background: linear-gradient(to bottom right, #1a1c56, #90044c);
  background-size: 200% 200%;
}

@media (max-width: 768px) {
  .about {
    padding: 20px;
  }

  .about h2 {
    font-size: 2rem;
  }

  .skills h3 {
    font-size: 1.75rem;
  }

  .skills h1 {
    font-size: 1.25rem;
  }

  .skills li {
    font-size: 1rem;
  }

  .flexbox {
    flex-direction: column;
    justify-self: center;
  }
  .additional-info {
    align-self: center;
  }

  .footer {
    margin-top: 50px;
  }
}